@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

input[type="text"] {
  height: 75px;
  width: 249px;
  background-color: #10111600;
  border: 0px;
  color: #ffffff;
  text-align: right;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}
button {
  height: 50px;
  width: auto;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #262834;
  color: #ffffff;
  font-weight: 500;
}
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}
