.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 256px;
  text-align: center;
  border: 10px solid #101116;
  background-color: #101116;
  border-radius: 5px;
}
.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(60px, auto);
}
#clear {
  grid-column: 1/3;
  grid-row: 1;
  color: #262834;
}
#result {
  grid-column: 3/5;
  grid-row: 5;
  color: #262834;
}
#backSpace {
  color: #262834;
}
.highlight {
  background: #e48213;
}
